.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-page{
padding: 2.5rem;
}

.about-header {
  text-align: left;
  max-width: 800px;
  padding-bottom: 8px;
}

.about-intro-content{
  text-align: left;
  max-width: 800px;
  color: black;
}

.about-section{
  margin-top: 6rem ;
}

/* This section of CSS relates to about steps (1,2,3)*/

.about-step-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3rem;
}

.about-steps{
  width: 250px;
  height: 300px;
  text-align: center;
  background-color:#648476;
  border-radius: 6px;
  padding: 16px;
  margin: 12px;
  justify-content: space-between;
}

.step-number > h1{
  color: #FFCE89;
  font-size: 140px;
  line-height: 1.1;
  border-bottom-width: 2px;
  border-color:  #FFCE89;

}

.step-info{
  color: #ffffff;
  padding: 8px;
  font-weight: 500;
  font-size: 16px;
}

/* This section of CSS relates to Food Insecurities*/

.insec-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.insec-info{
  width: 650px;
}


/* This section of CSS relates to the "About the Team" cards */

.about-card-container{
  display: flex;
  flex-wrap: wrap;
}

.team-card {
  height: 500px;
  width: 400px;
  overflow: hidden;
  padding: 24px;
  text-align: left;
  box-shadow: 0px 0px 5px 5px #0000002e;
  border-radius: 8px;
  margin-top: 16px;
  margin-right: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
}

.card-photo {
  background-image: url('imgs-team/Soham.png');
  background-size: cover;
  background-position: center;
  width: 352;
  height: 250px;
  border-radius: 6px;
}

.team-card > h2 {
  margin-top: 16px ;
  margin-bottom: 12px;
  color: #648476;
}

#soham-photo {
  background-image: url('imgs-team/Soham.png');
}

#kaitlyn-photo {
  background-image: url('imgs-team/Kaitlyn.JPG');
  background-position: top;
}

#kevin-photo {

}

#rachel-photo {

}

#robert-photo {

}


