body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mapcontainer {
  width: 100% !important;
  height: 70%;
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 90vh;
  width: 95%;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #648476; 
}

.scrollbar-primary {
  scrollbar-color: #648476 #F5F5F5;
}

.navbar {
  background-color: #648476;
}

.title {
  display: none;
  color: #FCFAF7;
}


.title:hover {
  color: #FFCE89;
}

.icon, .icon-front {
  display: inline;
  width: 60px;
}
 
.nav-link p {
  font-size: 22px;
  padding: 10px;
  color: #FCFAF7;
  display: inline;
}

.nav-link p:hover {
  color: #FFCE89;
  border-bottom: 1px solid #FFCE89;
}

.curr-link {
  border: 1px solid #FFCE89;
}
.curr-link p {
  color: #FFCE89;
}
.curr-link p:hover {
  color: #FCFAF7;
  color: #FFCE89;
  border-bottom: none;
}

.home-link:hover {
  text-decoration: none;
}

.filter-form {
  padding-top: 1rem;
}

.go-button {
  background-color: #FFCE89;
  color: #2B332F;
  border-radius: 8px;
  width: 8rem;
  height: 2.5rem;
  font-size: 125%;
}

.test {
  background-color: #7CAA98;
  padding: 2rem;
  border-radius: 8px;
}

.test p {
  color: white;
  font-size: 175%;
}

.about-header {
  color: #648476;
  font-size: 300%;
  text-align: center;
  padding-top: .5em;
}

.about-content, .about-intro-content {
  color: black;
  font-size: 125%;
  text-align: center;
}

.about-intro-content {
  color: #648476;
  font-size: 125%;
  text-align: center;
  margin-bottom: 0rem;
}

.about-caro {
  width: 600px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  
}

/* NEW KAITLYN */

.my-cards {
  background-color: #7CAA98;
  padding: .5rem;
}

.program-name {
  color: #648476;
  text-align: center;
  font-size: 140%;
  font-weight: 500;
  margin: 1%;
}

.people-served {
  color: rgb(202, 130, 29);
  text-align: center; 
  font-size: 115%;
}

.meal-served {
  color: #2B332F;
  padding-left: 1rem;
}

.meal-time {
  color: #2B332F;
  padding-left: 1rem;
}

.days-served {
  color: #2B332F;
  padding-left: 1rem;
}

.location-served {
  color: #648476;
  padding-left: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
    /* .icon {
      display: none;
  } */

  .header-font-size{
    font-size: 50px;
  }

  .title {
    display: inline;
    font-weight: 300;
    font-size: xx-large;
    padding-left: 1rem;
  }
}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  display: none;
  color: #4b79cf;
}


.title:hover{
  color: #a24bcf;
}

.icon, .icon-front {
  width: 2.5rem;
}
 
.nav-link p{
  font-weight: bold;
  color: #4b79cf;
  display: inline;
}

.nav-link p:hover{
  color: #a24bcf;
}

.home-link:hover{
  text-decoration: none;
}

.header-font-size{
  font-size: 40px;
}

.filter-form {
  padding-top: 1rem;
}

.go-button {
  background-color: #FFCE89;
  color: #2B332F;
  border-radius: 8px;
  width: 5rem;
}

.test {
  background-color: #7CAA98;
  padding: 2rem;
}

@media (min-width: 768px) {
    .icon {
      display: none;
  }

  .header-font-size{
    font-size: 50px;
  }

  .title {
    display: inline;
    font-weight: 300;
    font-size: xx-large;
    padding-left: 2rem;
  }
} */
